@model Models.Rate

@section Styles{
<link rel="stylesheet" href="~/css/generalCardDesign.css" />
}

<hr />
<div class="cardBody">
	<div class="headline">
		<h1>Create</h1>
	</div>
	<div class="form-content">
		<div class="row">
			<div id="warpper" class="col-lg-12">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="RateNumber" class="control-label"></label>
						<input asp-for="RateNumber" class="form-control" />
						<span asp-validation-for="RateNumber" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="Feedback" class="control-label"></label>
						<input asp-for="Feedback" class="form-control" />
						<span asp-validation-for="Feedback" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Create" class="btn btn-primary" />
					</div>
				</form>
				<div>
					<a asp-action="Index">Back to List</a>
				</div>
			</div>
		</div>
	</div>
</div>




@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
